#colorBody{    
    width: 100%;
    height: 100vh;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    /*background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);*/
}

    
