/*RECETEO*/
* {
  margin: 0;
  padding: 0; }

:root {
  font-size: 10px; }

/* ETIQUETAS*/
header {
  box-shadow: 2pt 2pt 10pt #000000d0; }

h1 {
  font-size: 4rem; }

h2, h3 {
  margin-left: 4pt;
  font-size: 3rem; }

p {
  font-style: italic;
  font-size: 2rem; }

/*FONDO*/
body {
  background-color: rgba(0, 0, 0, 0.856);
  color: white;
  font-size: 2rem;
  width: 100%;
  /*ancho*/
  height: 100vh;
  /*alto*/
  text-align: justify;
  font-family: "Nunito", sans-serif; }

/*HEADER*/
#imgLogo {
  border-radius: 5%;
  box-shadow: 1pt 1pt 2pt #ffffffd0;
  width: 150pt;
  height: 150pt;
  margin: 5%; }

nav {
  font-style: italic;
  font-weight: 200;
  text-align: right;
  font-size: 2rem; }

nav a {
  outline: none;
  text-decoration: none;
  padding: 2pt 1pt 0;
  transition: all 2s; }

nav a:link {
  color: rgba(255, 255, 255, 0.959); }

nav a:visited {
  color: rgba(171, 208, 214, 0.644); }

nav a:hover {
  color: #6b6666;
  text-decoration: none;
  margin-left: -5pt;
  margin-top: 10pt; }

.lista {
  list-style: none; }

/*BOX MODEL*/
.navFlotante {
  float: left; }

nav ul {
  list-style-type: none;
  margin-top: -5px;
  padding: 0;
  overflow: hidden;
  float: right; }

li a {
  display: block;
  padding: 10px; }
